/* || General styles */

body {
  padding: 75px 25px 25px;
}

i {
  padding: 0 5px;
}

input {
  width: 50px;
}

.fas.fa-ban {
  color: red;
}

/* || Game Page */

.navbar-nav .my-dropdown-item:active {
  background-color: #ffe598;
  color: black;
}

@media screen and (max-width: 991px) {
  .navbar-nav .my-dropdown-menu {
    background-color: #ffe598;
  }

  .navbar-nav .my-dropdown-item:hover {
    background-color: #ffd350;
    box-shadow: inset 0 0 5px #ffe598;
  }
}

/* || Landing Page */

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  background-image: url("./image/diagmonds-light.png");
  padding: 20px;
  font-family: "Merriweather", serif;
  text-align: center;
}

#landing-page h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin-bottom: 12px;
}

#author {
  font-family: "Damion", cursive;
  font-size: 32px;
}

.my-carousel {
  max-width: 600px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.my-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.my-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.my-carousel-indicators {
  bottom: -50px;
}

.my-carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#demo-gif {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  height: 65%;
}

.credit {
  margin-top: 10px;
  font-size: 0.75rem;
}
